<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766252380168-mgrg0kl7sei9d760h2p2dt8qhts87e5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766252380168-mgrg0kl7sei9d760h2p2dt8qhts87e5u</string>
	<key>API_KEY</key>
	<string>AIzaSyDIYgFCRV-m3VT5bvMu5afTzoUK9AB2irk</string>
	<key>GCM_SENDER_ID</key>
	<string>766252380168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firepass</string>
	<key>PROJECT_ID</key>
	<string>firepass-78e13</string>
	<key>STORAGE_BUCKET</key>
	<string>firepass-78e13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766252380168:ios:030ed49ba7b6049e0561bd</string>
</dict>
</plist>